* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.card {
    max-width: 1320px;
    width: 100%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 90px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}

.search button {
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather__icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.humidity, .wind {
    margin-top: -6px;
    font-size: 28px;
}

.col img {
    width: 40px;
    margin-right: 10px;

}

.weather {
    display: none;
}